<footer class="">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-6">
                <h5 class="text-uppercase">EnyPub</h5>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
                    dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas
                </p>
            </div>
            <div class="col-md-3 text-md-right">
                <h5 class="text-uppercase">Liens utiles</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-muted">About</a>
                    </li>
                    <li>
                        <a href="#" class="text-muted">Contact</a>
                    </li>
                    <li>
                        <a href="#" class="text-muted">Terms</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 text-md-right">
                <h5 class="text-uppercase">Contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-muted">About</a>
                    </li>
                    <li>
                        <a href="#" class="text-muted">Contact</a>
                    </li>
                    <li>
                        <a href="#" class="text-muted">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p class="text-muted d-flex justify-content-between">
                    <span>Copyright © 2024 EnyPub - All rights reserved</span>
                    <span>Made with <i class="fa fa-heart text-danger"></i> by <a href="https://enywork.com" target="_blank">EnyWork</a> <i class="fa fa-external-link-alt" style="font-size: 0.8rem;"></i></span>
                </p>
            </div>
        </div>
    </div>
</footer>